/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
@import "../../node_modules/flickity/dist/flickity.min.css";
@import "../../node_modules/flickity-fullscreen/fullscreen.css";

:root {
    --standard: 250ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 28px;
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: 1.2;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4,
h5,
h7 {
	font-size: 25px;
}

/* Nav */
#primary-menu {
	display: flex;
	gap: 1.5rem;
}

.fixed #primary-menu {
	flex-direction: column;
}

/* Hero */
.c-hero_img{
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.2;
	}
}
